<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Ticket Booking System</title>
</head>

<body>

<div class="head">
    <div class="img">
        <img src="https://static3.bigstockphoto.com/3/3/1/large1500/133566542.jpg" alt="Image" height="110px" width="200px">
    </div>
</div>

<header>
    <nav>
        <h1>E-Ticket Booking System</h1>
        <ul>
            <li><a href="#homeInfo">Home</a>|</li>
            <li><a href="#Events">Events</a>|</li>
            <li><a href="#Login">Login</a>|</li>
            <li><a href="#Contact">Contact</a>|</li>
            <li><a href="#Tickets">Tickets</a>|</li>
        </ul>
    </nav>
</header>

<div class="container">
    <main class="HomeSection">
        <div id="homeInfo" class="info-section">
            <marquee>
                <h3 align="center">Welcome to E-Ticket Booking System. Explore and book tickets for your favorite events with ease.</h3>
            </marquee>
            <h1>Home Information</h1>
            <p>The E-Ticket Booking System is an online platform that enables users to purchase tickets for various events, such as concerts, art exhibitions, dance, or theater performances, through the internet. This digital ticketing system eliminates the need for physical tickets and long queues, providing customers with the convenience of selecting their preferred seats, viewing event details, and making secure payments from the comfort of their homes.</p>
            <p>The E-Ticket Booking System aims to simplify the process of event ticket reservation and purchase, enhancing customer convenience and satisfaction.</p>
        </div>
    </main>

    <div class="content">
        <!-- Customer Details Section -->
        <div class="customer">
            <h3>Customer Details</h3>
            <ul>
                <li><a routerLink="getcustomers" routerLinkActive="active" href="#">Get Customer Details</a></li>
                <li><a routerLink="createcustomer" routerLinkActive="active" href="#">Insert Customer Details</a></li>
                <li><a routerLink="updatecustomer" routerLinkActive="active" href="#">Update Customer Details</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="Event">
            <h3>Event Details</h3>
            <ul>
                <li><a routerLink="getevents" routerLinkActive="active" href="#">Get Event Details</a></li>
                <li><a routerLink="createevent" routerLinkActive="active" href="#">Insert Event Details</a></li>
                <li><a routerLink="updateevent" routerLinkActive="active" href="#">Update Event Details</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="Payment">
            <h3>Payment Details</h3>
            <ul>
                <li><a routerLink="getpayments" routerLinkActive="active" href="#">Get Payment Details</a></li>
                <li><a routerLink="createpayment" routerLinkActive="active" href="#">Insert Payment Details</a></li>
                <li><a routerLink="updatepayment" routerLinkActive="active" href="#">Update Payment Details</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="booking">
            <h3>Booking Details</h3>
            <ul>
                <li><a routerLink="getbookings" routerLinkActive="active" href="#">Get Booking Details</a></li>
                <li><a routerLink="createbooking" routerLinkActive="active" href="#">Insert Booking Details</a></li>
                <li><a routerLink="updatebooking" routerLinkActive="active" href="#">Update Booking Details</a></li>
            </ul>
        </div>
    </div>

    <router-outlet></router-outlet>

    <br><br>
</div>

<footer>
    <p>@developed by KavyaKaleru</p>
</footer>

</body>

</html>
